<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/headFoot.css" charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/attraction.css" charset="utf-8"/>
    <!-- js -->
    <script src="/static/member.js"></script>
    <script src="/static/attraction.js"></script>
    <title>台北一日遊</title>
</head>
<header>
    <div id="windowBackground" class="display">
    </div>
    <div id="head">
        <div id="headLeft" onclick="location.href='/'" class="mymouse"><a >台北一日遊</a></div>
        <!-- <div class="ham mymouse" onclick="clickHam()"></div> -->
        <div id="headRight" class="headRight">
            <a id="headbooking" class="mymouse" onclick="bookingBut()">預定行程</a>
            <a id="headsignin" onclick="signinWindow()" class="mymouse">登入/註冊</a>
            <a id="headsignout" onclick="signOut()" class="display mymouse" onclick="signinWindow()">登出系統</a>
        </div>
        
    </div>  
</header>

<div id="signIn" class="display">
    <div id="signinHead"></div>
    <div id="signinImg" class="mymouse" onclick="closeWindow()"></div>
    <div id="signinTitle">登入會員帳號 </div>
    <input class="signinInput" type="email" id="signinEmail" placeholder="輸入電子信箱">
    <input class="signinInput" type="password" id="signinPassword" placeholder="輸入密碼">
    <div class="errorText display" id="signinError" >帳號或密碼輸入錯誤</div>
    <div id="signinButton" onclick="signIn()" class="mymouse">
        <div id="signinButtonText" >登入帳戶</div>
    </div>
    <div id="signinFoot"  class="mymouse" onclick="signupWindow()">還沒有帳戶？點此註冊</div>   
</div>

<div id="signUp" class="display">
    <div id="signupHead"></div>
    <div id="signupImg" class="mymouse" onclick="closeWindow()"></div>
    <div id="signupTitle">註冊會員帳號 </div>
    <input class="signupInput" id="signupName" placeholder="輸入姓名">
    <input class="signupInput" type="email" id="signupEmail" placeholder="輸入電子信箱">
    <input class="signupInput" type="password" id="signupPassword" placeholder="輸入密碼">
    <div class="errorText display" id="signupemailError" >此電子信箱已被註冊</div>
    <div class="errorText display" id="signupspaceError" >欄位為空白或含非法字元</div>
    <div id="signupButton" onclick="signUp()" class="mymouse">
        <div id="signupButtonText" >註冊新帳戶</div>
    </div>
    <div id="signupFoot" class="mymouse" onclick="signinWindow()">已經有帳戶？點此登入</div>   
</div>

<body onload="start()">
    <div id="hero">
        <div class="img" >
            <!--  -->
            <div class="img_container" id="img_container">
            </div>
            <div class="icon_container">
                <div id="leftImg"  onclick="leftImg()" class="mymouse"></div>
                <div id="imgCenter">
                </div>
                <div id="rightImg" onclick="rightImg()" class="mymouse"></div>
            </div>
        </div>
        <div id="heroRight">
            <div id="name"></div>
            <div id="category"></div>
            <div id="heroRightbox">
                <div class="title" id="rightTitle">訂購導覽行程</div>
                <div id="rightIntro">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                <div class="title " id="date" >選擇日期：<input  id="dateInput" type="date" required></div>
                <div class="title" id="time" >選擇時間：
                    <div class="day mymouse" onclick="changeLeftTime()">
                        <div class="timeCheck" id="leftTimeCheck" >
                            <div  class="changeTime" id="changeLeftTime"></div>
                        </div>
                        <div>上半天</div>
                    </div>
                    <div class="day mymouse" onclick="changeRightTime()">
                        <div class="timeCheck" id="rightTimeCheck" >
                            <div  id="changeRightTime"></div>
                        </div>
                        <div>下半天</div>
                    </div>
                </div>
                <div class="title" id="money">導覽費用： <div class="moneyText">新台幣<div id="moneyContent">2000 </div>元</div></div>
                <div id="button" class="mymouse" onclick="submit()">開始預訂行程</div>
            </div>
        </div>
    </div>
    <hr>
    <div id="bottom">
        <p id="description"></p>
        <div class="bottomTitle">景點地址:</div>
        <div id="address"></div>
        <div class="bottomTitle" id="transportTitle">交通方式</div>
        <div id="transport"></div>
    </div>
</body>
<footer>
    <div id="foot">
        COPYRIGHT © 2021 台北一日遊   
    </div>
</footer>
</html>
<!-- 字體 -->
<link rel="preconnect" href="https://fonts.gstatic.com"/>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet"/>