<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/headFoot.css" charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/index.css" charset="utf-8"/>
    <!-- JS -->
    <script src="/static/member.js"></script>
    <script src="/static/index.js"></script>
    <title>台北一日遊</title>
</head>
<header>
    <div id="windowBackground" class="display">
    </div>
    <div id="head">

        <div id="headLeft" onclick="location.href='/'" class="mymouse"><a >台北一日遊</a></div>
        <div id="headRight">
            <a class="mymouse" onclick="bookingBut()">預定行程</a>
            <a id="headsignin" onclick="signinWindow()" class="mymouse">登入/註冊</a>
            <a id="headsignout" onclick="signOut()" class="display mymouse" onclick="signinWindow()">登出系統</a>
        </div>
        
    </div>  
</header>
<div id="signIn" class="display">
    <div id="signinHead"></div>
    <div id="signinImg" onclick="closeWindow()" class="mymouse"></div>
    <div id="signinTitle">登入會員帳號 </div>
    <input class="signinInput" type="email" id="signinEmail" placeholder="輸入電子信箱">
    <input class="signinInput" type="password" id="signinPassword" placeholder="輸入密碼">
    <div class="errorText display" id="signinError" >帳號或密碼輸入錯誤</div>
    <div id="signinButton" onclick="signIn()" class="mymouse">
        <div id="signinButtonText" >登入帳戶</div>
    </div>
    <div id="signinFoot" class="mymouse" onclick="signupWindow()">還沒有帳戶？點此註冊</div>   
</div>

<div id="signUp" class="display">
    <div id="signupHead"></div>
    <div id="signupImg" onclick="closeWindow()" class="mymouse"></div>
    <div id="signupTitle">註冊會員帳號 </div>
    <input class="signupInput" id="signupName" placeholder="輸入姓名">
    <input class="signupInput" type="email" id="signupEmail" placeholder="輸入電子信箱">
    <input class="signupInput" type="password" id="signupPassword" placeholder="輸入密碼">
    <div class="errorText display" id="signupemailError" >此電子信箱已被註冊</div>
    <div class="errorText display" id="signupspaceError" >欄位為空白或含非法字元</div>
    <div id="signupButton" onclick="signUp()" class="mymouse">
        <div id="signupButtonText" >註冊新帳戶</div>
    </div>
    <div id="signupFoot" class="mymouse" onclick="signinWindow()">已經有帳戶？點此登入</div>   
</div>

<body onload="start()">
    <div id=heroSection  >
        <div id="hero">
            <div id="heroOne" >輕鬆享受台北一日悠閒</div>
            <div id="heroTwo" >探索每個角落，體驗城市的深度旅遊行程</div>
            <div  id="searchPar">
                <input type="text" id="searchInput" placeholder="輸入景點名稱查詢"></input>
                <div id="searchImg" onclick="searchData()" class="mymouse"><img></div>
            </div>
        </div>  
    </div>
    <div class="content" id="content">
    </div>
    <div id="loading_box" class="loading_box">
        <div class="loading"></div>
    </div>
</body>

<footer >
    <div id="foot" >
        COPYRIGHT © 2021 台北一日遊   
    </div>
</footer>
</html>
<script type="text/javascript">  

scrolled=false
// 監測footer距離
let footer=document.querySelector("footer");
// 自動載入更多資料
function infiniteScroll(){
    // 計算footer距離
    rect=footer.getBoundingClientRect();
    // 判斷是否到達底部、是否還有更多資料
    if(rect.top < 3000){
        if(page!="已無更多資料"){   
            moreData();                                 
            };        
        };
};
// 監測滾動事件
window.addEventListener("scroll",infiniteScroll);

// getData
var page=0
rect=footer.getBoundingClientRect();
window.moveTo(0,0);
let searchInput=document.getElementById("searchInput");
let getDatareq=new XMLHttpRequest();
getDatareq.open("get","/api/attractions");
dbConnect=true
getDatareq.onload=function(){
    let getdata=JSON.parse(this.responseText);   
    // 判斷是否還有下頁資料
    if(getdata.nextPage==null){
            // 印出最後一頁資料
            let whileNumber=0;
            while (whileNumber<getdata.data.length){
                createCard(getdata,whileNumber);
                whileNumber+=1;
            };
    }else{
        // 印出本頁資料
        let whileNumber=0;
        while (whileNumber<12){
            createCard(getdata,whileNumber);
            whileNumber+=1;
        } 
        page=getdata.nextPage ;
    };
    
};
getDatareq.send();



</script>
<!-- 字體 -->
<link rel="preconnect" href="https://fonts.gstatic.com"/>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet"/>
