<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 字體 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">
    <!-- TapPay -->
    <script src="https://js.tappaysdk.com/tpdirect/v5.7.0"></script>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/headFoot.css" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/thankyou.css" charset="utf-8">
    <!-- js -->
    <script src="/static/member.js"></script>
    <title>台北一日遊</title>
</head>

<header>
    <div id="windowBackground" class="display"></div>
    <div id="head">
        <div id="headLeft" onclick="location.href='/'" class="mymouse"><a >台北一日遊</a></div>
        <div id="headRight">
            <a class="mymouse" onclick="bookingBut()">預定行程</a>
            <a id="headsignin" onclick="signinWindow()" class="mymouse">登入/註冊</a>
            <a id="headsignout" onclick="signOut()" class="display mymouse" onclick="signinWindow()">登出系統</a>
        </div>  
    </div>  
</header>

<body onload="checkMember()">
    <div class="bigTitle" id="topTitle">您好<div id="memberName"></div>，已訂購行程如下：</div>
    <div class="orderResult" id="orderResult"></div>
    <div id="orderMessage"></div>
</body>
<footer>
    <div id="foot">
        COPYRIGHT © 2021 台北一日遊   
    </div>
</footer>
</html>
<script type="text/javascript">
queryname=location.search.slice(8)
let reqOrder=new XMLHttpRequest();
reqOrder.open("get","/api/order/"+queryname)
reqOrder.onload=function(){
    Orderdata=JSON.parse(this.responseText);
    let orderResult=document.getElementById("orderResult")
    let orderMessage=document.getElementById("orderMessage")
    if(Orderdata["error"]==true){
        orderResult.textContent=Orderdata["message"]
    }else{
        orderResult.textContent="您已完成訂購\r"
        orderMessage.textContent="您的訂單編號為"+Orderdata["data"]["number"]
    }
}
reqOrder.send()

//確認使用者登入狀態 
    function checkMember(){
        let reqMember=new XMLHttpRequest();
        reqMember.open("get","/api/user")
        reqMember.onload=function(){
            getdata=JSON.parse(this.responseText);
            let headsignin=document.getElementById("headsignin")
            let headsignout=document.getElementById("headsignout")
            let memberName=document.getElementById("memberName")
            let member_Name=document.getElementById("member_Name")
            let memberEmail=document.getElementById("memberEmail")
            if(getdata["data"]!=null){
                headsignin.classList.add("display")
                headsignout.classList.remove("display")
                memberName.textContent="，"+getdata["data"]["name"]
            }else{
                headsignin.classList.remove("display")
                headsignout.classList.add("display")
                window.location.href="/"
            }
        }
        reqMember.send()
    }

    //登出
    function signOut(){
        let reqsignOut=new XMLHttpRequest()
        reqsignOut.open("delete","/api/user")
        reqsignOut.onload=function(){
            window.location.reload()
            headsignin.classList.remove("display")
            headsignout.classList.add("display")
            
        }
        reqsignOut.send()
    }
    // 預定行程按鈕
        function bookingBut(){
        let headsignout=document.getElementById("headsignout").className
        if (headsignout=="mymouse"){
            window.location.href="/booking"
        }else{
            signinWindow()
        }
    }

</script>